{% extends "mockup.html" %}

{% block member %}
    {% if member %}
            <div class="col">
                {% if member.photo %}
                <img src="{{member.photo.thumb_url}}" alt="{{member.withinstrument}}"/>
                {% endif %}
            </div>
            <div class="col last">
                <p class="member">{{ member.fullmember }}</p>
                {{ member.bio|safe|truncatewords_html:75 }}
                <p><a href="{{ member.get_absolute_url }}">Read more about {{member.first_name}}...</a></p>
                <p><a href="/members/">Meet more of the orchestra...</a></p>
            </div>
    {% else %}
        <p>No members found. Please add some members.</p>
    {% endif %}
{% endblock %}

{% block concert %}
    {% if event.date %}
            <div class="image">
                <img src="{{event.image.url}}" alt="Event promo image"/>
            </div>
            <div class="description">
                <h2>{{event.name}}</h2>
                <div>{{ event.date|date:"l, F jS Y" }}</div>
                <div>{{ event.date|date:"g:i a" }}, <a href="{{event.location.get_absolute_url}}">{{event.location}}</a></div>
                <div class="conductor">Jason Love, conductor</div>
                {{ event.description|safe }}
<p class="tickets">For advance tickets, please visit our Tickets page. Tickets will also be available at the door. <em>We are not equipped to process credit cards at the door; we are happy to accept cash or personal checks.</em></p>
                </div>
            </div>
    {% else %}
        <p>No events found. Please add an event.</p>
    {% endif %}
{% endblock %}