<!doctype html>
<html lang="eng">
<head>
	<title>Columbia Orchestra</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="/site_media/styles.css"/>
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>

    {% include "inc/menu_js.html" %}
</head>
<body>
	{% include "inc/header.html" %}
    {% include "inc/nav.html" %}
	<div class="next_bg">
		<div class="next_concert">
            {% block concert %}{% endblock %}
		</div>
	</div>
		
	<div class="main">
		<div class="twocol">
			<h2>Meet the Orchestra</h2>
            {% block member %}{% endblock %}
		</div>

		<div class="col">
			<h2><a class="social twitter" href="http://twitter.com/ColumbiaOrch/">Twitter</a></h2>
			{% for tweet in tweets %}
                <p>{{ tweet.date|date:"F Y" }}</p>
                <p>{{ tweet.text|safe }}</p>
            {% endfor %}
			<h2><a class="social facebook" href="http://www.facebook.com/pages/Columbia-Orchestra/211864312316/">Facebook</a></h2>
			<p>Don't forget our rescheduled "Symphonic Pops" this Saturday night at 7:30 in the Jim Rouse Theatre. No snow this time! It'll be a great show - movie music, Broadway, Gershwn, Irish dancing and more! Hope to see you there.</p>
		</div>
		
		
		<div class="col last">
			<h2><a class="social youtube" href="http://www.youtube.com/user/colorch/">Youtube</a></h2>

            {% include "inc/youtube.html" %}
                
		</div>

	</div>
	
	{% include "inc/footer.html" %}
</body>
</html>