<!doctype html>
<html lang="eng">
<head>
	<title>Columbia Orchestra</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="/site_media/styles.css"/>
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>
    
    <link rel="stylesheet" href="/site_media/slider.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/site_media/jquery.easing.1.2.js"></script>
    <script src="/site_media/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>
    
        <script type="text/javascript">
    
        function formatText(index, panel) {
          return index + "";
        }
    
        $(function () {
        
            $('.anythingSlider').anythingSlider({
                easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
                autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
                delay: 3000,                    // How long between slide transitions in AutoPlay mode
                startStopped: false,            // If autoPlay is on, this can force it to start stopped
                animationTime: 600,             // How long the slide transition takes
                hashTags: true,                 // Should links change the hashtag in the URL?
                buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
                pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
                startText: "Go",             // Start text
                stopText: "Stop",               // Stop text
                navigationFormatter: formatText       // Details at the top of the file on this use (advanced use)
            });
            
            $("#slide-jump").click(function(){
                $('.anythingSlider').anythingSlider(6);
            });
            
        });
    </script>

    {% include "inc/menu_js.html" %}
</head>
<body>
	{% include "inc/header.html" %}
    {% include "inc/nav.html" %}
	<div class="next_bg">
		<div class="next_concert">
            {% block concert %}{% endblock %}
		</div>
	</div>
		
	<div class="main">
		<div class="twocol">
			<h2>Meet the Orchestra</h2>
            {% block member %}{% endblock %}
		</div>

		<div class="col">
			<h2><a class="social twitter" href="http://twitter.com/ColumbiaOrch/">Twitter</a></h2>
			{% if tweets %}
    			{% for tweet in tweets %}
                    <p>{{ tweet.date|date:"F Y" }}</p>
                    <p>{{ tweet.text|safe }}</p>
                {% endfor %}
            {% else %}
                <p>Sorry, Twitter seems to have the hiccups!</p>
            {% endif %}
            
			<h2><a class="social facebook" href="http://www.facebook.com/pages/Columbia-Orchestra/211864312316/">Facebook</a></h2>
			{% if fb %}
			    {% for f in fb %}
			        <p>{{ f.published|date:"F Y" }}</p>
			        <p>{{ f.title|safe }}</p>
			    {% endfor %}
			{% else %}
			    <p>Sorry, Facebook seems to be having a problem!</p>
			{% endif %}
		</div>
		
		
		<div class="col last">
			<h2><a class="social youtube" href="http://www.youtube.com/user/colorch/">Youtube</a></h2>

            {% include "inc/youtube.html" %}
                
		</div>

	</div>
	
	{% include "inc/footer.html" %}
	{% include "inc/google_analytics.html" %}
</body>
</html>