    <div class="footer">
        <div class="col">
            <h2 class="footerlogo">
                <span class="offscreen">Additional Info</span>
            </h2>
        </div>
        <div class="col">
            <p>The Columbia Orchestra<br/>
            Howard County Center for the Arts<br/>
            8510 High Ridge Road,<br/>
            Ellicott City, MD 21043
            </p>
            <p>
                Phone: 410-465-8777<br/>
                Fax: 410-465-8778
            </p>
        </div>
        <div class="col">
            <ul>
                <li> </li>
                <!--
                <li><a href="#">Concerts & Tickets</a></li>
                <li><a href="#">Behind the Music</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Partners</a></li>
                -->
            </ul>
        </div>
        <div class="col last">
            <h3>For Members</h3>
            <ul>
                <li><a href="#">Schedule</a></li>
                <li><a href="/locations/">Locations</a></li>
                <li><a href="#">Stuff from Jason</a></li>
                <li><a href="http://www.flickr.com/photos/columbiaorchestra/">Photos of the Orchestra</a></li>
            </ul>
        </div>
    </div>